# Build folders
build/
cmake-build-*/
debug/
release/
out/

# Qt / qmake / moc generated
*.o
*.obj
moc_*
qrc_*
ui_*
*_autogen/
object_script.*
*.pro.user*
*.user
*.autosave
.qmake.stash
.qtcreator/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Executables / libs
*.exe
*.dll
*.so
*.dylib
